<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="dual_ur">

  <!-- *************************************************************************************************** -->
  <!-- import dual_base -->
   <link
    name="dual_base">
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_ur_description/meshes/dual_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://dual_ur_description/meshes/dual_base.STL" />
      </geometry>
    </collision>
  </link>


  <!-- *************************************************************************************************** -->
  <!-- import arms -->

  <!-- import main macro -->
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>

  <!-- parameters -->
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
  <!-- legal values:
        - hardware_interface/PositionJointInterface
        - hardware_interface/VelocityJointInterface
        - hardware_interface/EffortJointInterface
  -->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <!-- arm left -->
  <xacro:ur_robot
    prefix="arm_0_"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"/>


  <!-- arm right -->
  <xacro:ur_robot
    prefix="arm_1_"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"/>


  <!-- *************************************************************************************************** -->
  <!-- setup joints -->

  <!-- joint between dual_base and arm -->
  <joint name="dual_base_joint_0" type="fixed">
    <parent link="dual_base" />
    <child link="arm_0_base_link" />
    <origin xyz="0 -0.357 0" rpy="${pi/2} 0 0" />
  </joint>

  <joint name="dual_base_joint_1" type="fixed">
    <parent link="dual_base" />
    <child link="arm_1_base_link" />
    <origin xyz="0 0.357 0" rpy="${-pi/2} ${pi} 0" />
  </joint>



</robot>
