<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="dual_base">
  <link
    name="dual_base">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="10" />
      <inertia
        ixx="2.2558"
        ixy="0.00058059"
        ixz="4.04440355497102E-14"
        iyy="0.1341"
        iyz="-2.35010066240058E-16"
        izz="2.1888" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://dual_ur_ros/meshes/dual_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.6 0.6 0.6 1" />
        <texture
          filename="package://dual_ur_ros/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://dual_ur_ros/meshes/dual_base.STL" />
      </geometry>
    </collision>
  </link>
</robot>